/* style.css */

html, body {
  height: 100%;
}

head{
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
